 body{
     border: 10px solid black;
     border-color: black;
 }
 h1{
background-color: aquamarine;
margin: 10px 30px;
padding:10px;
 }
 .numberPick{
     text-align: center;
     background-color: transparent;
 }